* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cards {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  width: 90%;
  margin: auto;
  background-color: black;
}
.card {
  width: 300px;
  background-color: #040d12;
  height: 350px;
  margin: 10px;
  border-radius: 1rem;
  padding: 20px;
  box-shadow: -30px 5px 20px rgba(0, 0, 0, 0.4);
}

.card:hover {
  transform: scale(1.05); /* Efecto de escala al pasar el mouse */
}

.card img {
  border-radius: 1rem;
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.card h2 {
  color: #7fdea4;

  text-align: left;
  font-size: 0.7rem;
}

.character-detail {
  background-color: rgba(0, 0, 0, 0.849);
  margin-top: 0;
  position: absolute;
  top: 0%;
  left:5%;
  margin: auto;
  width: 90%;
  /* height: max-content; */
  
}



@media only screen and (max-width: 600px) {
  .cards {
    display: grid;
    grid-template-columns: 100%;
  }
  .card {
    margin: auto;
    margin-bottom: 20px;
  }
}
