.search {
  padding: 30px;
}

.search h3 {
  color: #0ae40a;
}

.search input {
  width: 30%;
  height: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 0.5rem;
  color: #0ae40a;
  border: 1px solid #0ae40a;
  background-color: #040d12;
}
