.characters-main {
  width: 90%;
  margin: auto;
  background-color: black;
}
.characters-main h1 {
  color: aliceblue;
}

.character-cards {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
}

.character-card {
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 2rem;
}

.character-card img {
  width: 250px;
  height: 250px;
  border-radius: 0.5rem;
}

.character-card img:hover {
  transform: scale(1.1);
  transition: all ease 0.5s;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.973);
}
