.comics-main {
  width: 90%;
  margin: auto;
  /* background-color: black; */
}

.comic-cards {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
}

.comic-card {
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 2rem;
}

.comic-card img {
  width: 300px;
  height: 350px;
  border-radius: 0.5rem;
}

.comic-card img:hover {
  transform: scale(1.1);
  transition: all ease 0.5s;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.973);
}
