.comics-main {
  width: 100%;
  margin: auto;
  background-image: url("../Images/backgroundTexture.png");
  background-size: contain;
  background-color: #181614f1;
}


.comic-cards {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
}

.comic-card {
  align-items: center;
  background-color: #00000065;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 2rem;
}

.comic-card img {
  width: 300px;
  height: 350px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.comic-card img:hover {
  transform: scale(1.1);
  transition: all ease 0.5s;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.973);
}

.comic-card h3 {
  color: #ff6200;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  .comic-cards {
    display: flex;
    flex-direction: column;
  }
}
